[Unit]
Description=Advance from report -> stop

Requires=systemd-journal-upload.service tests-finished.service
After=systemd-journal-upload.service tests-finished.service

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=report.target
