[Unit]
Description=Show SNP Guest Environment Information for SEV Version 3.0-0 Report
DefaultDependencies=no
After=systemd-hostnamed.service tests.target
Wants=systemd-hostnamed.service tests.target
Requires=systemd-hostnamed.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/lib/scripts/sev_v_3_0_0/guest_environment.sh
StandardOutput=journal+console
StandardError=journal+console
LogExtraFields="GUEST_ENVIRONMENT=3.0-0"
