[Unit]
Description=Advance from test -> report

Requires=attestation-result.service attestation-workflow.service
After=attestation-result.service attestation-workflow.service

OnSuccess=report.target
OnFailure=stop.target

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=test.target
